@{
    ViewBag.Title = "Contact";
}
<div class="contact-p">
    <h2>@ViewBag.Title.</h2>

    <address>
        5Th Floor, AH Building, 75B Ajah, Lekki<br />
        Lagos, Nigeria<br />
        <abbr title="Phone">P:</abbr>
        +2349055232411
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@dblood-ng.com">Support@dblood-ng.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@dblood-ng.com">Marketing@dblood-ng.com</a>
    </address>
</div>